@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hero{
    background-image: url(/images/medium-shot-different-women-posing.png); 
}

.carousel-words{
    width: 682px;
    height: 154px;
}


.bodyoilfont{
        font-family: "Oldenburg", serif;
        font-weight: 400;
        font-style: normal;
}

.product-card{
    width: 300px;
    height: 540px;  
}
.product-card:hover{
    transform: scale(1.02);
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid #79043C;
}
.product-card:hover #cart-btn{
    background-color: #720439;
    color: #79043C;
}
#cart-btn{
    background-color: #D3B1C2;
    color: #FBEFF2;
}

.product-card:hover .product-image{
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .product-card{
        width: 151px;
        height: 285px;
    }
}
.product-image{
    width: 300px;
    height: 384px;
}
@media screen and (max-width: 768px) {
    .product-image{
        width: 151px;
        height: 181px;
    }
}
.reviews-text{
    font-size: 12px;
}
@media screen and (max-width: 768px) {
    .reviews-text{
        font-size: 6px;
    }
}
.skin-type-banner{
 height: 732px;
}
@media screen and (max-width: 768px) {
    .skin-type-banner{
        height: 221px;
    }
}

.skin-type-banner .text-container{
    margin-left: 75px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: uppercase;
    max-width: 591px;
}
@media screen and (max-width: 768px) {
    .skin-type-banner .text-container{
        margin-top: 23px;
        margin-left: 63px;
        width: 118px;
    }
}
.overlay{
    background: rgba(68, 2, 34, 0.57);
}

.skin-type-text{
    line-height: 143.04px;
}
@media screen and (max-width: 768px) {
    .skin-type-text{
        line-height: 35.2px;;
        font-size: 20px;
    }
}
footer{
    width: 100%;
    background: #3D021E;
    margin-top: 186px;
}
.pre-footer{
    width: 100%;
    background: #FBEFF2;
    color: #79043C;
    padding-left: 108px;
    padding-right: 108px;
    font-size: 16px;
}
@media screen and (max-width: 768px) {
    .pre-footer{
        padding-left: 10px;
        padding-right: 10px;
    }
}
.footer-links{
    padding-left: 108px;
    padding-right: 108px;
}
@media screen and (max-width: 768px) {
    .footer-links{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.address-and-social-icons{
    background-color: #280114;
    padding-left: 108px;
    padding-right: 108px;
}
@media screen and (max-width: 768px) {
    .address-and-social-icons{
        padding-left: 20px;
        padding-right: 20px;
    }
    
}
.right-section{
    width: 600px;
}
@media screen and (max-width: 768px) {
    .right-section{
        width: 300px;
    }
}
.right-section .email{
width: 480px;
height:56px;
background: none;
border-bottom: #CBCBCB 1px solid;
color: #CBCBCB;
}
@media screen and (max-width: 768px) {
    .right-section .email{
        width: 300px;
    }
}
.subscribe-btn{
    width: 104px;
    height: 48px;
    border: #FFFFFF 2px solid;
}
@media screen and (max-width: 768px) {
    .subscribe-btn{
        width: 320px;
        margin-left: 20px;
    }
}
.copyright-and-privacy-section{
    background-color: #14010A;
    padding-left: 108px;
    padding-right: 108px;
}
@media screen and (max-width: 768px) {
    .copyright-and-privacy-section{
        padding-left: 20px;
        padding-right: 20px;
    }
}



/* ++++++++++++++++++++ cart page +++++++++++++++++++++++++ */

.cart-item{
    max-width: 732px;
}
@media screen and (max-width: 768px) {
    .cart-item{
        max-width: 300px;
    }
}
.card-cart-summary{
    width: 322px;
    height: 277px;
}

@media screen and (max-width: 768px) {
    .card-cart-summary{
        width: 80px;
        height: 86px;
    }
}
.hide-for-desktop{
    visibility:hidden;   
   }
   @media screen and (max-width: 768px) {
       .hide-for-desktop{
           visibility: visible;
           display: flex;
       }
   }
   .hide-for-mobile{
       visibility: visible;
   }
   @media screen and (max-width: 768px) {
       .hide-for-mobile{
           visibility: hidden;
       }
   }
     
    .delete-all{
      color: #ff0000;
    } 