@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hero{
    background-image: url(/images/medium-shot-different-women-posing\ 1.png);
}

.carousel-words{
    width: 682px;
    height: 154px;
}

.product-categories{
    width: 896px;
    height: 528px;
}

.bodyoilfont{
        font-family: "Oldenburg", serif;
        font-weight: 400;
        font-style: normal;
}